<body style="background-color:black"></body>
 
<h1 style="color:yellow; font-style:verdana"> About the project management app</h1>
<p style="color:cyan; font-style:verdana;font-size: 13px"> Improve your productivity</p>
