<body style="background-color:black"></body>
h1 style="color:blue; font-size.16px"> 
<h1 style="color:yellow; font-style:verdana"> Project Management App</h1>
<p style="color:cyan; font-style:verdana;font-size: 13px"> Improve your productivity. Sample Project Management Application by Shaneese Shands</p>

<%=render "text" %>