<body style="background-color:black"></body>
 
<div class="jumbotron">
<h1 style="color:black; font-style:verdana"> Project Management App</h1>
<p style="color:grey; font-style:verdana;font-size: 13px"> Sample Ruby on Rails Project Management Application by Shaneese Shands</p>
<%= link_to 'Sign Up', new_user_registration_path, class: ' btn btn-primary btn-lg' %>
</div>
